/* this is what darkens the screen */
#tourit-bg {
  position: fixed;
  z-index:99998;
  top:0;
  left:0;
  width:100%;
  height:100%;
  transition:clip-path 0.3s;
  background: rgba(0, 0, 0, 0.3);
}
/* tourit-window is the shadow highlighting the currently featured element in the tour */
#tourit-window {
  position: absolute;
  box-shadow: 0px 0px 5px 3px rgba(0,0,0,0.75);
  z-index:99999;
}
/* tourit-tooltip is the window displaying the description of the current stop in the tour */
#tourit-tooltip {
  position:absolute;
  transition:opacity 0.3s ease;
  background:white;
  z-index:99999;
  max-width: 20em;
  padding:0.3em;
  /* add scrolling if the tooltip is longer than the window height */
  scroll-behavior: auto;
  max-height:100%;
  overflow:auto;
}
.tourit-hide, #tourit-tooltip button.tourit-hide {
  display:none;
}
/* this is the span around the X button in the upper right of the tooltip */
.tourit-cancel-span {
  float:right;
}
/* this is for the nav buttons (the X button is within a span) */
#tourit-tooltip > button {
  margin-left:0.3em;
}
#tourit-tooltip button {
  font-size: 0.7em;
  font-weight: bold;
  display: inline;
}
.tourit-tooltip-text {
  display:block;
}