#tourit-bg {
  position: fixed;
  z-index:99998;
  top:0;
  left:0;
  width:100%;
  height:100%;
  transition:clip-path 0.3s;
  background: rgba(0, 0, 0, 0.3);
}
#tourit-window {
  position: absolute;
  box-shadow: 0px 0px 5px 3px rgba(0,0,0,0.75);
  z-index:99999;
}
#tourit-tooltip {
  position:absolute;
  transition:opacity 0.3s ease;
  background:white;
  z-index:99999;
  max-width: 15em;
  padding:0.3em;
}
.tourit-hide {
  display:none;
}
.tourit-cancel-span {
  float:right;
}
#tourit-tooltip > button {
  margin-left:0.3em;
}
#tourit-tooltip button {
  font-size: 0.7em;
  font-weight: bold;
}
.tourit-tooltip-text {
  display:block;
}